@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");

.row {
  top: 20px;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.column {
  left: 50px;
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.panel {
  background-image: linear-gradient(
    120deg,
    rgba(253, 251, 251, 0.9) 0%,
    rgba(235, 237, 238, 0.9) 100%
  );
  background-blend-mode: screen;
  border-radius: 3px;
}

.horizontal-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;
}

.vertical-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 40px 15px;
}

.horizontal-panel__point {
  margin-right: 30px;
}
.horizontal-panel__point:last-child {
  margin-right: 0px;
}

.vertical-panel__point {
  margin-bottom: 30px;
}
.vertical-panel__point:last-child {
  margin-bottom: 0px;
}

.point {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.point__title {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
}

.point__info {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.8px;
  font-size: 16px;
  font-weight: 600;
  color: #c01818;
}

.point__img {
  height: 50px;
  width: 50px;
}

.country-name {
  font-size: 18px;
  font-weight: 500;
}

.country-flag__mask {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  /* border: 2px solid #000000; */
  overflow: hidden;
}

.country-flag__img {
  max-height: 100%;
}
