@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Poppins:wght@400;500&family=Fira+Sans:wght@400;500&family=Roboto:wght@400;700&display=swap");

:root {
  --blue-color: rgb(100, 149, 237);
  --light-blue-color: rgb(163, 227, 255);
}

body {
  background: black;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.countryInfo__column {
  position: absolute;
  left: 50px;
}

.continentInfo__column {
  position: absolute;
  right: 50px;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.globalInfo__row {
  position: absolute;
  top: 20px;
}

.panel {
  border-radius: 3px;
  border: 3px solid var(--blue-color);
  box-shadow: inset 0 0 40px 0 var(--blue-color);

  outline: 3px solid var(--light-blue-color);
  outline-offset: 5px;
}

.horizontal-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;
}

.vertical-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 40px 15px;
}

.horizontal-panel__point {
  margin-right: 20px;
}
.horizontal-panel__point:last-child {
  margin-right: 0px;
}

.vertical-panel__point {
  margin-bottom: 20px;
}
.vertical-panel__point:last-child {
  margin-bottom: 0px;
}

.point {
  font-family: "Fira Sans", sans-serif;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.point__title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  color: white;
}

.point__title_high {
  line-height: 2;
}

.point__info {
  letter-spacing: 0.8px;
  font-size: 16px;
  color: rgb(104, 210, 255);
  text-shadow: 0 0 7px #000000;
}

.point__info_red {
  font-weight: 600;
  color: rgb(248, 42, 42);
}

.point__img {
  height: 20px;
  width: 20px;
}

.row__img {
  margin-right: 8px;
}

.country-name,
.continent-name {
  font-size: 18px;
  font-weight: 500;
}

.country-flag__mask {
  height: 60px;
  width: fit-content;
  border-radius: 5px;
  border: 1px solid #000000;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  overflow: hidden;
}

.country-flag__img {
  max-height: 100%;
}
